@charset "utf-8";
body {
	background-color: #020202;
}
.container-fluid {
	background-color: #020202;
}
.container-fluid .navbar-header .navbar-brand {
	color: #A80205;
}
.nav.navbar-nav.navbar-right li a {
	color: #1DF314;
}
center h2 strong {
	color: #7D52E7;
	font-family: acme;
	font-style: normal;
	font-weight: 400;
}
